body {
   background-color: #eeeeee;
}
.padding1 {
   padding: 20px;
}
.grid-item {
   padding: 5px;
}
.grayish {
   color: #888888;
}
.txtr {
   text-align: right;
}
.header {
   background-color: #fff;
   padding-left: 20px;
   padding-right: 20px;
   padding-bottom: 5px;
   padding-top: 5px;
}
.suggest {
   width: 100%;
   white-space: pre-line;
   padding: 10px;
}
.adminClass {
   background-color: #e0f7ff;
}
.hid {
   display: none;
}
.visible {
   display: block;
}
.bottom-align {
   vertical-align: text-bottom;
}
.box1 {
   padding: 10px;
   border-radius: 5px;
   background-color: #b0b0a5;
   max-width: 300px;
}
.outlines {
   border: 1px solid #61dafb;
}

.displayNone {
   display: none;
}
.displayBlock {
   display: block;
}
.vertical-center {
   margin: 0;
   position: absolute;
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
}
.center-inner {
   display: table;
   margin: 0 auto;
}

.center-outer {
   width: 95%;
}
.center {
   margin: auto;
   text-align: center;
}
